body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: lighten(theme-color(primary), 40%);
}

a {
  display: inline-block;
  transition: $transition-base;

  &[class] {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

button,
select {
  -webkit-appearance: none;
  padding: 0;
  background: none;
  border: 0;

  &:focus {
    outline: none;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

pre {
  white-space: pre-wrap;
}

address {
  margin-bottom: 0;
}

hr {
  margin-top: $hr-margin-y;
  margin-bottom: $hr-margin-y;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}

.container {
  max-width: 100%;

  @include media-breakpoint-up(md) {
    padding-right: rem($grid-gutter-width);
    padding-left: rem($grid-gutter-width);
  }

  @include media-breakpoint-up(xl) {
    max-width: map-get($container-max-widths, xl);
  }
}

.is-muted {
  opacity: .2;
  pointer-events: none;
}
