.button-link {
  padding: rem(10px) rem(15px);
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  display: inline-flex;
  align-items: center;

  &--primary { color: theme-color(primary); }

  &__icon {
    height: rem(10px);
    margin-right: rem(2px);
  }

  .icon {
    height: rem(12px);
    margin: 0 rem(5px) 0 rem(-5px);
  }
}
