// Custom base config

$img-path: '~@/assets/img/'; // background-image: img-path('image.jpg');
$section-max-value: 100; // this will result in a max margin/padding of 100 pixels;

// Nav vars

$nav-z-layers: (
  overlay: 999,
  overlay-inner: 10,
  normal: 5,
);

// buttons
$button-base-styles: (
  // name       font-color             background-color
  primary:      (theme-color(light), theme-color(primary)),
  secondary:    (theme-color(dark), theme-color(secondary)),
  danger:    (theme-color(light), color(red)),
);

// CookieNotice Config

$cookie-padding: rem(30px);
$cookie-heading-font-size: rem(16px);
$cookie-font-size: rem(15px);
$cookie-width: rem(400px);
$cookie-background-color: theme-color(primary-500);
$cookie-border-radius: $border-radius;
$cookie-text-color: gray-color(200);
$cookie-heading-color: theme-color(light);

$toggle-font-size: rem(15px);
$toggle-background-color: theme-color(light);
$toggle-border-color: lighten(theme-color(dark), 20%);
$toggle-shadow-color: lighten(theme-color(dark), 10%);
$toggle-active-color: theme-color(primary);
